body { 
    background-color: white; /* achtergornd plekken zonder tekst */
}

p { 
    margin-top: 1px; /* grotere ruimte tussen regels */
}

header { 
    background-color: rgb(200, 200, 200); /* achtergrondkleur stukje met titel */
    text-align: center; /* tekst in het midden */
    padding: 30px;
    margin: 0px;
    border-bottom: 2px solid black; /* zwarte lijn tussen titel en menu balk */
}

nav { 
    display: flex; /* links op een rij IPV onder elkaar */
    overflow-x: scroll; /* horizontaal scrollen */ 
    white-space: nowrap; /* zorgt dat er een regel blijft */
}

nav a { 
    flex: 0 0 auto; /* breedte knoppen houden */
    margin: 6px;
    padding: 16px 16px;
}

ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /* komt niet buiten het vlak als er teveel tekst staat */
    background-color: rgb(200, 200, 200);
    display: flex;
}

ul li a { 
    display: block; /* tekstvak */ 
    color: black;
    padding: 16px 16px;
    text-decoration: none;
}

ul li a:hover:not(.active) { /* als je met je muis over een blokje heen gaat */
    background-color: rgb(190, 190, 190);
    vertical-align: middle;
    border-radius: 15%;
    padding: 16px 16px;
}

ul li a.active { /* de pagina waar je op zit */
    vertical-align: middle;
    background-color: rgb(170, 170, 170);
    border-radius: 15%;
    padding: 16px 16px;
}

ul { /* blijft plakken bovenin het scherm als je scrollt */
    position: sticky;
    top: 0;
}

.container {
    display: flex;
    align-items: flex-start; /*foto en text boven uitlijnen*/
    justify-content: space-between; /*tekst links foto rechts*/
    margin-top: 20px;
    min-width: 100%;
    margin-bottom: 30px;
}

.text { 
    background-color: rgb(220, 220, 220);
    text-align: left;
    line-height: 1.6; /*meer ruimte tussen regels*/ 
    padding: 20px;
    flex: 2; /*tekst neemt meeste ruimte in*/ 
    min-width: 40%;
}

h2 { 
    font-size: larger;
    font-weight: bold;
}

.foto img {  
    max-width: 300px;
    height: auto;
    margin-left: 20px;
}

.foto2 img { 
    max-width: 425px;
    height: auto;
    margin-left: 20px;
}

.foto3 img {
    max-width: 350px;
    height: auto;
    float: left;
    margin-left: 10px;
}

table {
    width: 40%;
    border-collapse: collapse;
    margin: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 8px 8px;
}

th {
      background-color: #444;
      color: white;
}

tr:nth-child(even) { /* de even nummers in de tabel hebben een andere kleur waardoor hij makkelijker ter lezen is */
    background-color: #f2f2f2;
}

.foto4 img { 
    max-width: 450px;
    height: auto;
    gap: 0;
}

footer { 
    font-weight: bold;
    font-size: smaller;
    text-align: center; 
    background-color: rgb(200, 200, 200);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px; 
}

.video {
    position: float; 
    margin: 10px;
    border: 2px solid black;
    width: 50%;
}

