body { 
    background-color: white;
}

p { 
    margin-top: 1px;
}

header { 
    background-color: rgb(200, 200, 200);
    text-align: center;
    padding: 1%;
    margin: 0%;
    border-bottom: 2px solid black;
}

nav { 
    display: flex;
    overflow-x: auto; /*horizontaal scrollen*/ 
    white-space: nowrap;
}

nav a { 
    flex: 0 0 auto; /*breedte knoppen houden*/
    margin: 6px;
    padding: 16px 16px;
}

ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(200, 200, 200);
    display: flex;
}

ul li a { 
    display: block;
    color: black;
    padding: 16px 16px;
    text-decoration: none;
}

li a, dropbtn { 
    display: inline-block;
    color: rgb(200, 200, 200);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(190, 190, 190);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content { 
    display: none;
    position: absolute;
    background-color: rgb(200, 200, 200);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba90, (0, 0, 0, 0.2) ;
}

.dropdown-content { 
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: rgb(190, 190, 190);}

.dropdown:hover .dropdown-content { 
    display: block;
}

ul li a:hover:not(.active) { 
    background-color: rgb(190, 190, 190);
}

ul li a.active { 
    vertical-align: middle;
    background-color: rgb(170, 170, 170);
    border-radius: 15%;
    padding: 16px 16px;
}

ul { 
    position: sticky;
    top: 0;
}

.container {
    display: flex;
    align-items: flex-start; /*foto en text boven uitlijnen*/
    justify-content: space-between; /*tekst links foto rechts*/
    gap: 20px; /*ruimte foto en tekst*/
    margin-top: 20px;
}
.text { 
    background-color: rgb(210, 210, 210);
    text-align: left;
    line-height: 1.6; /*meer ruimte tussen regels*/ 
    padding: 20px;
    flex: 1; /*tekst neemt meeste ruimte in*/ 
}
h2 { 
    font-size: larger;
    font-weight: bold;
}

.foto img {  
    max-width: 300px;
    height: auto;
}

.foto2 img { 
    max-width: 350px;
    height: auto;
}