body { 
    background-color: white;
}
h1 { 
    color: black;
    text-align: center;
    font-size: 30;
    padding: 3% 3%;
    background-color: gray;
}
 h2 { 
    color: darkgray;
    text-align: center;
    font-size: 10;
}